.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header_column {
    width: 33%;
    justify-content: space-between;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile nav {
    display: flex;
    justify-content: flex-end;
}

.profile_right-face {
    width: 30px;
    height: 30px;
}

.profile_left {
    display: flex;
    justify-content: center;
}